.Inicio{
	margin-top: 5%;
}

.titulo{
    font-size: 50px;
	color: blue;
}

.titulo_fondo{
	background-color: #13C41C;
}

.textos_Lebel{
	font-size: 18px;
	font-weight: bold;
}

.texto_Fecha{
	color: #fff;
	font-size: 18px;
	text-align: center;
}

.txtCuadros{
	font-size: 20px;
	text-align: center;
}


.btnEnviar{
	font-size: 25px;
	background: #5F6617;
	color: aliceblue;
}


.ok{
	text-align: center;
	width: 100%;
	padding: 20px;
	background-color: aquamarine;
	color: #fff;
}

.bad{
	text-align: center;
	width: 100%;
	padding: 20px;
	background-color: #a22;
	color: #fff;
}

.boton {
   padding: 10px;
   background-color: red;
   color: white;
}
